@model TheGalleryCafe.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container-xxl bg-white p-0">

    <div class="container-xxl position-relative p-0">

        <div class="container-xxl py-2 bg-dark hero-header mb-2">
            <div class="container text-center my-2 pt-5 pb-2">
                <h1 class="display-3 text-white mt-4 animated slideInDown">@ViewBag.Title</h1>
            </div>
        </div>
    </div>
    <main aria-labelledby="title">


        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Enter your email.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" class="btn btn-outline-dark" value="Email Link" />
                </div>
            </div>
        }
    </main>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
